@page "/about"

<PageTitle>APRS Weather - About</PageTitle>

<h1>APRS Weather</h1>

<div>Copyright (c) 2022 Cameron Bielstein All Rights Reserved</div>

<div>Created using <a href="https://github.com/CBielstein/APRSsharp/" target="_blank">APRS#</a>.</div>
