@page "/about"

<PageTitle>APRS Weather - About</PageTitle>

<h1>About</h1>

<br/>

<h2>About This App</h2>

<div>
    This application is currently in beta and thus only displays weather in the continental United States.
    Stay tuned for more widespread reports!<br/>
    <br/>
    Created using <a href="https://github.com/CBielstein/APRSsharp/" target="_blank">APRS#</a>.
</div>

<br/>
<br/>

<h2>About APRS</h2>

<div>
    The <a href="https://en.wikipedia.org/wiki/Automatic_Packet_Reporting_System" target="_blank">Automatic Packet Reporting System (APRS)</a> is a digital packet radio network designed, created, and maintained by the amateur radio community.
    The network allows sending and receiving of messages or information and is used by amateur radio operators for, amongst many applications, sending and relaying weather station reports.<br/>
    Positions are reported using the <a href="https://en.wikipedia.org/wiki/Maidenhead_Locator_System" target="_blank">Maidenhead Locator System</a>.
</div>

<br/>
<br/>

<h2>Data Accuracy</h2>

<div>
    Data displayed in this application is collected and reported by hobbyist weather observers in the amateur radio community. This application makes no effort to validate or ensure the accuracy of reported data.
    Individual stations may malfunction, require calibration, or simply be inaccurate and may not be sufficiently accurate for scientific usage.
    However, this data is likely accurate enough, especially in aggregate, for day-to-day reference and information.
</div>

<br/>
<br/>

<div>
    Copyright (c) 2022 <a href="https://bielstein.dev" target="_blank">Cameron Bielstein</a> All Rights Reserved
</div>

<br/>
