@page "/"
@inject HttpClient Http
@using AprsSharp.Parsers.Aprs

<PageTitle>APRS Weather</PageTitle>

<h1>Current Weather</h1>

@if (reports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Callsign</th>
                <th>Report Time (UTC)</th>
                <th>Temp. (F)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in reports)
            {
                if (report.InfoField is WeatherInfo wi)
                {
                    <tr>
                        <td>@report.Sender</td>
                        <td>@wi.Timestamp?.DateTime.ToUniversalTime()</td>
                        <td>@wi.Temperature</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private Packet[]? reports;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<string[]>($"{Environment.GetEnvironmentVariable("SERVER_ENDPOINT")}/WeatherReports"); // TODO: Make this real
        reports = response?.Select(p => new Packet(p)).ToArray();
    }
}
